@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------------------------------------------- # Air Section --------------------------------------------------------------*/

:root {
  --main-font: var(--mono-font);
}

#explore-display {
  -moz-column-gap: min(6vw, 2rem);
  column-gap: min(6vw, 2rem);
  margin: min(6vw, 2rem);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-auto-flow: column;
}

#explore-display .grid,
#explore-display .extra {
  margin: min(3vw, 1rem);
  min-height: min(9.3vw, 3.1rem);
}

#explore-display .extra {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

#explore-display .grid div {
  border: solid white min(0.15vw, 0.05rem);
}

#explore-display .grid img {
  width: min(15vw, 5rem);
}

#explore-display .extra img {
  width: min(9vw, 3rem);
}

.options-container {
  flex-direction: row;
  flex-wrap: wrap;
}

.skill-card-con,
.explore-card-con,
.goal-card-con {
  padding: min(1vw, 0.67rem);
  max-width: min(35vw, 16em);
}
